/* style.css 기본(공통) 스타일 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

:root {
  --main-color: #8dc63f;
  --text-color: #333;
  --pc-haeder-height: 80px;
  --mobile-haeder-height: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

h2 {
  font-weight: 500;
}

body {
  font-size: 18px;
  color: var(--text-color);
  font-family: 'Noto Sans KR', sans-serif;
  background: #fff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  border-style: none;
  width: 32px;
  height: 32px;
  background: transparent;
}

.bx-menu-alt-right {
  font-size: 32px;
}